*{
    padding:0%;
    margin: 0%;

}

body{
    width: 100%;
    height: 30rem;
}

a{
    text-decoration: none;
        padding: 1rem;
        color: white;


}
li{
    list-style: none;
}
.navs{
    display: flex;
    float: right;
}



.services{
        background-color: black;

}
.hew{
    color: white;
}
.cor{
    width: 100%;
    background-image: url(piky.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.buy{
    width: 50%;
    height: 25rem;;
    background-image: url("tag.jpg");

}
.nhn{
    color: white;
    padding: 10% 25%;
    text-align: center;
    font-size: x-large;
}
.web{
    /* width:30% ; */
    height: 10rem;
}
.graphics{
    /* width:30% ; */
    height: 10rem;

}
.video{
    /* width:30% ; */
    height: 10rem;

}
.gen{
    /* width: 80%; */
    height:10rem ;
    display: flex;
    gap: 2rem;
    color: white;
    padding: 70px;
}



    
    
